/* Reset e Box-sizing */
/* Reset e Box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo */
body {
    font-family: 'Arial', sans-serif;
    background-color: #edf4ff;
    color: #333;
    line-height: 1.6;
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5b8eec;
    color: white;
    padding: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

/* Seção de Introdução */
.intro {
    text-align: center;
    padding: 40px 20px;
    background-color: #d5e7ff;
    margin-bottom: 30px;
}

.intro h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

/* Destaques de Eventos */
.highlights {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    padding: 0 20px;
}

.highlight-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.highlight-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.highlight-item h3 {
    font-size: 1.5rem;
    margin: 15px 0;
}

.highlight-item p {
    font-size: 1rem;
    margin-bottom: 20px;
}

button.detailsBtn {
    background-color: #5b8eec;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.detailsBtn:hover {
    background-color: #5b8eec;
}

/* Galeria */
.gallery {
    text-align: center;
    padding: 40px 20px;
}

.gallery h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.gallery-item {
    display: inline-block;
    margin: 10px;
}

.gallery-item img {
    width: 300px;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

footer .social-media {
    margin-top: 10px;
}

footer .social-media a {
    color: white;